body {
  min-width: 540px;
}

button {
  width: 90px;
}

h1 {
  word-wrap: break-word
}

img {
  float: left;
  max-width: 200px;
  max-height: 200px;
  background-color: #272B30;
  border: 10px solid #272B30;
  margin-right: 20px;
  margin-bottom: 10px;
}

.form-control, .form-control:focus {
  background-color: #1c1e22;
  color: #62c462;
  font-family: 'Inconsolata', monospace;
  border: 1px solid #1c1e22;
}


input:-webkit-autofill, input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #1c1e22 inset;
  -webkit-text-fill-color: #62c462;
  font-family: 'Inconsolata', monospace;
}

span.line {
  display: inline-block;
}

input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -2px;
}

.question {
  margin-top:40px;
}

.card-title{
  margin-bottom: 30px;
}
.card-header {
  color: white;
  text-shadow: 1px 1px 1px #000000;
  font-weight: bold;
}

.card-text a {
  color: #5bc0de;
}

.card-text a:hover {
  color: #3f859b;
}

.question {
  margin-bottom: 20px;
}

.center-align{
  text-align: center;
}

section.results {
  display: none;
}

input#question1 {
  width: 200px;
  height: 50px;
  background-color: #1c1e22;
  border: 1px solid #1c1e22;
}

h3#tie {
  display: none;
  margin-bottom:20px;
}
