body {
  min-width: 540px;
}

button {
  width: 90px;
  margin-right: 5px;
}

h1 {
  word-wrap: break-word
}

img {
  float: left;
  max-width: 200px;
  max-height: 200px;
  background-color: #272B30;
  border: 10px solid #272B30;
  margin-right: 20px;
  margin-bottom: 10px;
}

section.tiebreaker {
  height: 270px;
  width: 510px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -255px;
  margin-top: -135px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 8), 
              0 2px 2px rgba(0,0,0,0.7), 
              0 4px 4px rgba(0,0,0,0.6), 
              0 8px 8px rgba(0,0,0,0.5), 
              0 16px 16px rgba(0,0,0,0.3), 
              0 32px 32px rgba(0,0,0,0.1);
}

.grayout {
  opacity: 0.3; 
  filter: alpha(opacity = 30);
}

.form-control, .form-control:focus {
  background-color: #1c1e22;
  color: #62c462;
  font-family: 'Inconsolata', monospace;
  border: 1px solid #1c1e22;
}

input:-webkit-autofill, input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #1c1e22 inset;
  -webkit-text-fill-color: #62c462;
  font-family: 'Inconsolata', monospace;
}

.form-control::-webkit-input-placeholder {
  color: gray;
}

.form-control:-ms-input-placeholder { 
  color: gray;
}

.form-control::placeholder {
  color: gray;
}

.form-control:disabled {
  background-color: #1c1e22;
}

select:invalid {
  color: gray; 
}

span.line {
  display: inline-block;
}

button.tie-button {
  margin-top:20px
}

input[type="radio"] {
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -2px;
}

.question {
  margin-top:40px;
}

.card-title{
  margin-bottom: 30px;
}
.card-header {
  color: white;
  text-shadow: 1px 1px 1px #000000;
  font-weight: bold;
}

.card-text a {
  color: #5bc0de;
}

.card-text a:hover {
  color: #3f859b;
}

.question {
  margin-bottom: 20px;
}

.center-align{
  text-align: center;
}

section.results, section.tiebreaker {
  display: none;
}

input#question1 {
  width: 200px;
  height: 50px;
  background-color: #1c1e22;
  border: 1px solid #1c1e22;
}

h3#tie {
  display: none;
  margin-bottom:20px;
}

@media only screen and (max-width: 558px) {
  section.tiebreaker {
    height: auto;
    width: 100%;
    top: 40%;
    left: 0%;
    position: fixed;
    margin-left: auto;
    margin-top: auto;
  }